.background{
    background-image: url(children.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100%
 
}
.links{
    border: 2px 2px 2px 2px solid black;
}
#intro{
    font-family: fantasy;
    text-align: center;
    color: azure;
}
a{
    text-decoration: none;
    text-align:left;
}
.header{
   text-align: center; 
    color: coral;
    font:
}
#header{
    text-align: center;
    color: aquamarine;
    font-family: fantasy;
}
table{
    background-color: aliceblue;
}
th{
    column-span: 3;
}
p{
    color: blueviolet;
    background-color: darkgray;
}